<%= form_for(@event, :html => { :multipart => true }) do |f| %>

<div class="row">
              <% if @event.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this space from being saved:</h2>

                <ul>
                  <% @event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
                </div>
                <% end %>

                <div class="col-sm-5">
                <div class="field">
                  <%= f.label :title %><br />
                  <%= f.text_field :title  %>
                </div>

                <div class="field">
                  <%= f.label :description %><br />
                  <%= f.text_area :description, size: "40x6" %>
                </div>

                <div class="field">
                  <%= f.label :city %><br />
                  <%= f.text_field :city, :value => @event.city.capitalize %>
                </div>

                <div class="field">
                  <%= f.label "Neighbourhood / Nearest-intersection" %><br />
                  <%= f.text_field :near %>
                </div>

                <div class="field">
                  <%= f.label "Date" %><br />
                  <input class="datepicker" type="text" name="event[event_date]", value="<%= @event.event_date %>">
                </div>

              </div>

              <div class="col-sm-4 col-sm-offset-1">
                 <div class="field">
                  <%= f.label "Start Time" %><br />
                <%= f.time_select :start_time,  {ampm: true, minute_step: 15} %>  
</div>

<div class="field">
                  <%= f.label "End Time" %><br />
                <%= f.time_select :end_time,  {ampm: true, minute_step: 15} %>
</div>

                <div class="field">
                  <%= f.label "Select Space Type" %><br />
                   <%= f.select :space_type, options_for_select(["Apartment", "House"], @event.space_type) %>
                </div>

                <div class="field">
                  <%= f.label "Select Seats Available" %><br />
                  <%= f.select :seats, options_for_select((1..10).to_a, @event.seats) %>
                </div>

                <div class="field">
                  <%= f.label "Wifi Availability" %><br />
                   <%= f.check_box :wifi? %>
                </div>

                <div class="field">
                  <%= f.label "Got Coffee? :) " %><br />
                  <%= f.check_box :coffee? %>
                </div>

                <div class="field">
                <%= f.label "Change Header Image" %><br />
                <%= f.file_field :header_img %>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-4">


  <div class="submit-div" style="margin: 20px 0;">
    <%= f.submit %>
  </div>

</div>



</div>

  <% end %>


  <script>
$('.datepicker').datepicker({
    format: 'yyyy/mm/dd',
  })

$('.datepicker').datepicker()
.on('changeDate', function(ev){
 $('.datepicker').datepicker('hide');
 });
</script>
