<h1 class="text-center"><%= @city.capitalize %> Hoffizes</h1>

  <div class="col-sm-12">
            
             <div class="row">

              <% @events.each do |event| %>

                <div class="col-sm-3 features">
                    <a href="<%= event_path(event) %>">
                    <%= image_tag event.header_img.url(:thumb) %></a></a>
                   <div class="space-feats">
                    <span>Seats: <%= event.seats %></span>
                    </div>

                    <a href="<%= event_path(event) %>"><h4 class=""><%= event.title %></h4></a>
                  
                </div>


                <% end %>
              </div>

    </div>
    <%= paginate @events %>

<%#= link_to 'New Space', new_space_path %>
